beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
multitasking==0.0.9
numpy==1.19.2
pandas==1.1.2
python-dateutil==2.8.1
pytz==2020.1
DateTime==4.3
requests==2.24.0
scipy==1.5.2
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
wallstreet==0.3
Werkzeug==1.0.1
yahoofinancials==1.5
yfinance==0.1.54
ujson==2.0.2